<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ita_seg_app">

    <!-- Permissão necessária no Android 11+ para checar apps instalados -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <!-- Declare aqui o PROCESS_TEXT (Flutter engine) e os 4 pacotes que você quer abrir -->
    <queries>
        <!-- Mantém o PROCESS_TEXT para o plugin de texto -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Aqui os 4 pacotes que você confirmou via ADB -->
        <package android:name="com.intelbras.isiclite"/>
        <package android:name="com.mcu.JFL"/>
        <package android:name="br.com.amt.v2"/>
        <package android:name="br.virtus.jfl.amiot"/>
    </queries>

    <application
        android:name="${applicationName}"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Usado pelo Flutter para registrar plugins -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
</manifest>